/* CSS SET UP */

body{
  background: #343d46;
}
.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

/* Search 1 - bg change*/
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
	color: #262626;
  padding: 0 15px 0 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

  /* ANIMATION EFFECTS */
  .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

/* Search 2 - expand input width */
.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-2 input#search{
  width: 50px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
	color: #262626;
  padding: 0 15px 0 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
  
}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

  /* ANIMATION EFFECTS */
.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
}
  .container-2:hover input#search{
    outline:none; 
    width: 300px;
  }
	.container-2:hover .icon{
    color: #93a2ad;
  }

/* Search 3 - zoom in looking glass */
.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-3 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
	color: #262626;
  padding: 0 15px 0 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  
}

.container-3 input#search::-webkit-input-placeholder {
   color: #65737e;
}
.container-3 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
.container-3 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
  
    -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
  
}

  /* ANIMATION EFFECTS */
	.container-3 input#search:focus, .container-3 input#search:active{
    outline:none; 
	}
  .container-3:hover .icon{
  	margin-top: 16px;
    color: #93a2ad;
    
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
  }

/* Search 4 - appear looking glass */
.container-4{
	overflow: hidden;
	width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  /* position: relative; */
}
.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
	color: #fff;
  padding: 0 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 button.icon{
	-webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

  /* ANIMATION EFFECT */
  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline:none;
    opacity: 1;
    margin-left: -50px;
  }
